{% extends 'back/base.html.twig' %}

{% form_theme addMessage 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">

    <h1>Ajouter un méssage qui s'affichera aléatoirement a votre boutique</h1>

    {{ form_start(addMessage) }}
        <div class="form-group">
            {{ form_label(addMessage.content, 'Contenue du message') }}
        </div>
        <div class="form-group">
            {{ form_widget(addMessage.content) }}
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Ajouter</button>
        </div>
    {{ form_end(addMessage) }}

</div>
{% endblock %}