{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="jumbotron">
            <h1 class="display-3 h1">Bienvenue dans l'espace d'administration</h1>
            <p class="lead">Retrouver ici tous vos produits, catégories, listes de vos clients..</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('listes-product') }}" role="button">Voir la listes de tous les produits</a>
                <a class="btn btn-primary btn-lg" href="{{ path('index') }}" role="button" target="_blank">Accedez a la boutique</a>
            </p>
        </div>

    </div>
{% endblock %}