{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="jumbotron">
            <h1 class="display-3 h1">Bienvenue dans votre boutique</h1>
            <p class="lead">Retrouver ici tous vos produits, catégories, listes de vos clients</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

    </div>
{% endblock %}